:root{
    --main-color:#7857fe;
    --color-1:#e91e63;
    --color-2:#f5ae10;
    --color-3:#09d69c;
    --bg-dark:#2b2c2f;
    --main-to-dark-color:var(--main-color);
    --dark-to-main-color:var(--bg-dark);
    --shadow-black-100:0px 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300:0px 5px 15px rgba(0,0,0,0.3);
    --black-900:#000000;
    --black-400:#555555;
    --black-100:#f7f7f7;
    --black-000:#ffffff;
    --black--alpha-100:rgba(0,0,0,0.05);
}

*{
    margin:0;
    padding: 0;
    /* outline:none!important */
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color:#ffffff;
    
}

body.dark{
    background-color:var(--bg-dark);
    --black-100:var(--bg-dark);
    --black-000:var(--bg-dark);
    --main-to-dark-color:var(--bg-dark);
    --dark-to-main-color:var(--main-color);
    --shadow-black-100:var(--shadow-black-300);
    --black--alpha-100:rgba(255,255,255,0.05);
    --black-900:#ffffff;
    --black-400:#bbbbbb;
}

@keyframes spin_01{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes bounceTop_01{
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}

@keyframes play_01{
    0%{
        transform: scale(0.94);
        box-shadow:0,0,0,0,rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow:0,0,0,12px,rgba(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow:0,0,0,0,rgba(255,255,255,0);
    }
}

.effect-wrap .effect{
    position:absolute;
    z-index: -1;
}
.effect-wrap .effect-1{
    left:20%;
    top:20%;
    color:var(--color-2);
    animation: spin_01 3s linear infinite;
}

.effect-wrap .effect-2{
    right:5%;
    top:20%;
    font-size: 25px;
    color:rgba(255,255,255,0.5);
    animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3{
    left:25%;
    bottom:10%;
    font-size: 25px;
    color:var(--color-3);
    animation: bounceTop_01 5s linear infinite;
}
.header{
    height:15vh;
    background-color: var(--main-to-dark-color);
     padding:30px 0px;
     transition:all 0.2s ease;
}

.navbar{
   
    width:100%;
}

.header.header-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    padding:10px 0px;
    height:10vh;
}

.navbar .navbar-brand{
    color:white;
}




.navbar .nav-item{
    margin:0px 20px;
}
.navbar .nav-item .nav-link{
    color:white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    position:relative;
    padding:3px 0;

}

.navbar-toggler{
    background-color: var(--dark-to-main-color);
}

.nav-bar{
    color:white;
}

.navbar-brand{
    font-weight: 900;
    font-size: 1.5rem;
}
.navbar .nav-item .nav-link::before{
    content:" ";
    height:3px;
    background-color: white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    transition:all 0.2s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}


.hero{

    background-color: var(--main-to-dark-color);
    padding:150px 0px;
   
    border-radius: 0px 0px 150px 0px;
    position:relative;
    z-index:1;
}

.hero__button1{
    border-radius:2rem;
    color:var(--main-color);
    transition:all 0.3s ease;
}

.hero__button1:hover{
    background-color: var(--main-color);
    color: white;
}

.hero__text{
    padding-right: 3rem;
}
.hero__button2{
    border-radius: 50%;
    color:var(--main-color);
    animation: play_01 1s ease infinite;
}

.hero__button2:hover{
    animation:none;
    box-shadow: var(--shadow-black-300);
}

.hero__img{
    width:250px;
    box-shadow: var(--shadow-black-100);
    border-radius: 2rem;
    animation:bounceTop_01 3s ease infinite;
  
}

.hero__text__heading{
    color:white;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.hero__text__para{
    color:white;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.hero__image{
    position:relative;
   
}

.hero__circle{
    position:absolute;
    z-index: 1;
    height:400px;
    width:400px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius:50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.hero__circle::before{
    content:"";
    position:absolute;
    width:60px;
    height:60px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    left:30px;
    top:30px;
    transform-origin: 170px  170px;
    animation:spin_01 10s linear infinite;
}

.owl-carousel .owl-dots{
    padding:0 15px;
    text-align: center;
    margin-top: 20px;
  
}

.owl-carousel .owl-dots.disabled{
    display: inline-block;
}

.owl-carousel button.owl-dot{
    height:5px;
    width:24px;
    background-color:#dddddd ;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
   

}

.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
    border:none;
}

.feature{
    padding:5rem 0rem;
}

.feature-item{
    text-align:center;
    box-shadow: var(--shadow-black-300);
    padding:35px;
    border-radius:10px;
    margin:15px;
    position:relative;
    z-index: 1;
    
}

.feature__span{
    color:var(--main-color);
    
}




.feature-item i{
    color:var(--main-color);

}

.feature__heading{
    font-weight: 900;
    color:var(--black-900);
}


    


.feature__main{
    font-size: 20px;
    color:var(--black-900);
}

.feature__text{
    font-size: 13px;
    color:var(--black-400);
}

.fun{
    padding:5rem 0rem;
    background-color:var(--black-100);
}

.fun__img{
    width:250px;
    box-shadow: var(--shadow-black-100);
    border-radius: 2rem;
    animation:bounceTop_01 3s ease infinite;
}

.fun__image{
    width:250px;
    margin-left: 5.5rem;
}

.fun__box1{
    background-color: var(--color-1);
    padding:25px 0px;
    text-align: center;
    margin:0rem 2rem 2rem 0rem;
    color:white;
    border-radius: 1rem;
}

.fun__box2{
    background-color: var(--color-2);
    padding:25px 0px;
    text-align: center;
    margin-right: 2rem;
    margin:0rem 2rem 2rem 0rem;
    color:white;
    border-radius: 1rem;
}

.fun__box3{
    background-color: var(--color-3);
    padding:25px 0px;
    text-align: center;
    margin:0rem 2rem 2rem 0rem;
    color:white;
    border-radius: 1rem;
}

.fun__box4{
    background-color: var(--main-color);
    padding:25px 0px;
    text-align: center;
    color:white;
    border-radius: 1rem;
    
}

.fun__text{
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 2rem;
    color:var(--black-400);
}

.fun__box__span{
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.fun__main{
    font-weight: 900;
    color:var(--black-900);
}

.fun__span{
    color:var(--main-color);
}

.appshot{
    padding:5rem 0rem;
}


.appshot__box1{
    margin:0px 20px 20px 20px;
}

.appshot__image{
    width:100%;
    max-width:250px;
   ;
    margin:auto;
}

.download{
    background: url("../img/download-app-bg.jpg");
    background-position: center top;
    background-attachment: fixed;
    background-repeat:no-repeat;
    position:relative;
    z-index:1;
    height:60vh;
}

.download::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:var(--main-color);
    opacity:0.8;
}

.download__item{
    background-color:white;
    padding:25px;
    margin:0 20px;
    border-radius: 1rem;
    text-align: center;
}

.download__row{
    height:60vh;
    padding-bottom: 8rem;
}

.download__heading{
    font-weight: 900;
    color:white;
}

.download__main{
    font-size: 20px;
}

.download__text{
    font-size: 13px;
}

.download__button{
    background-color: var(--main-color);
    color:white;
    border-radius:1rem;
    font-size: 12px;
    letter-spacing: 2px;

}

.download__button:hover{
  color:var(--main-color);
  background-color: transparent;
  box-shadow: var(--shadow-black-300);
}

.download__icon{
    color:var(--main-color);
}

.works{
    padding:5rem 0rem;
}

.works__item{
    padding:15px;
    text-align: center;
    position:relative;
}

.works__item.line-right::before{
    content:"";
    position:absolute;
    top:20%;
    left:60%;
    height:2px;
    width:100%;
    background-color:var(--main-color);
}



.works__step{
    width:50px;
    height:50px;
    background-color:var(--main-color);
    padding:8px 10px;
    color:white;
    border-radius: 50%;
    font-weight: 500;
    display:inline-block;
    font-size: 25px;
    margin-bottom: 1rem;
}

.works__main{
    font-size: 15px;
    margin-bottom: 0.8rem;
    color:var(--black-900);
}

.works__text{
    font-size: 13px;
}

.works__heading{
    font-weight: 900;
    color:var(--black-900);
    
}

.works__span{
    color:var(--main-color);
}

.testimonial{
    padding:5rem 0rem;
    background-color: var(--black-100);
}

.testimonial__item{
    text-align: center;
    padding:20px;
    margin:20px 15px;
    box-shadow: var(--shadow-black-100);

   
}

.testimonial__text{
    font-size: 13px;
    color:var(--black-400);
}

.testimonial__name{
    font-size: 18px;
    color:var(--black-900);
}

.testimonial__position{
    font-size: 12px;
    color:var(--black-400);
}

.testimonial__image{
    margin:0 auto;
    display: inline-block;
    border-radius: 50%;
    max-width:90px;
    height:90px;
    position:relative ;
    border:3px solid var(--main-color);
}

.testimonial__icon{
    position:absolute;
    top:18%;
    left:60%;
    background-color: var(--main-color);
    color:white;
    padding:8px;
    border-radius: 50%;
    font-size: 10px;
}

.testimonial__star{
    color: rgb(255, 174, 0)
}

.testimonial__heading{
    font-weight: 900;
    color:var(--black-900);
}

.testimonial__span{
    color:var(--main-color);
}

.card{
    box-shadow: var(--shadow-black-100);
    /* background-color: var(--main-to-dark-color); */
}

.card__icon{
    color:var(--main-color);
    margin-right: 0.5rem;
}

.card h5{
    color:var(--main-color);
}

.card h3{
    color:var(--black-900);
}
.card__span1{
    font-size: 10px;
    color:grey;
}

.card__span2{
    font-size: 10px;
    color:grey;
}




.card__button{
    margin-left: 4.5rem;
    border-radius: 1rem;
    background-color:var(--main-color);
    color:white;
    font-size: 15px;
}

.card__button:hover{
    color:var(--main-color);
    background-color:#ffffff;
    box-shadow: var(--shadow-black-300);

}


.list-group-item{
    color:grey;
}

.list-group-item {
  
    border: 1px solid rgba(0,0,0,.1);
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0px;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: var(--black-100);
}

.card .list-group{
      background-color: var(--black-100);
}

.card .list-group-item{
      background-color: var(--black-100);
    color:var(--black-400);
}

.card-body{
      background-color: var(--black-100);
}

.card__price{
    font-size: 3rem;
    font-weight: bold;
    color:var(--main-color);
}

.pricing__heading{
    font-weight: 900;
    color:var(--black-900);
}

.pricing__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing{
    padding: 5rem 0rem;
}

.pricing__span{
    color:var(--main-color);
}

.team{
    padding:5rem 0rem;
    background-color: var(--black-100);
}

.team__name{
    font-size: 1rem;
    color: var(--black-900);
}

.team__position{
    font-size: 0.8rem;
}

.team__item{
    margin: 1rem 3rem;
    box-shadow: var(--shadow-black-300);
    padding:1rem 1rem 0rem 1rem;
}


.accordion .card:not(:last-child){
    margin-bottom: 1rem;
}

.accordion .card{
    border-radius: 0;
}



.accordion .card-header{
    box-shadow: var(--shadow-black-100);
    padding:0px;
    color:var(--black-400);
    border-bottom: none;
    transition:all 0.5s ease;
    position:relative;

    
}


.faq{
    padding:5rem 0rem;
}


.accordion .card-body{
    font-size: 13px;
    padding:20px;
}

.accordion__button{
    text-decoration: none;
    color:var(--black-400);
    

}

.accordion__button:hover{
    color:var(--main-color);
}


.accordion__button:not(.collapsed){
    background-color:var(--main-color);
    color:white;
}

.accordion .btn:focus{
    outline: none;
}

.accordion .btn-link{
    text-decoration: none;
}

.accordion .card-body{
    color:var(--black-400);
}

.accordion__button::before{
    content:"\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position:absolute;
    height:30px;
    width:30px;
    top:20%;
    left:95%;
}

.accordion__button:not(.collapsed)::before{
    content:"\f068"
}

.contact{
    background-color: var(--black-100);
    padding:5rem 0rem;
}

.contact__icons{
    border:1px solid var(--main-color);
    padding:8px;
    border-radius: 50%;
    margin-right: 1rem;
}

.contact__icon{
    color:var(--main-color);
    font-size: 20px;
}



.contact__main{
    font-size: 15px;
    margin-bottom: 5px;
    color:var(--black-900);

}
.contact__primary{
    font-size: 12px;
    margin-bottom: 5px;
    color:var(--black-400);
}

.contact__box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact__button{
    background-color: var(--main-color);
    border-radius: 2rem;
    color:white ;
    margin-top: 1rem;
}

.contact__button:hover{
    background-color:transparent;
    color:var(--main-color);
    box-shadow:var(--shadow-black-300);
}

.contact__row{
    display: flex;
    justify-content: center;
   
    align-items: center;
}



.contact__heading{
    font-weight: 900;
    color:var(--black-900);
}

.contact__form .form-control{
border-radius:2rem;
box-shadow: var(--shadow-black-100);
}

.contact__form .form-control::placeholder{
    padding:1rem 0.5rem 0.5rem 0.2rem;
}

.contact__form .form-control:focus{
   border : 1px solid var(--main-color);
}

.contact__box__main{
    color:var(--black-900);
}



.contact__span{
    color:var(--main-color);
}

.contact input{
    background-color: var(--black-100);
}

.contact textarea{
     background-color: var(--black-100);
}

.footer{
    background-color: var(--main-color);
    padding:4rem 0rem;
}

.footer__main{
    color:white;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.footer__about__text{
    color:white;
    font-size: 13px;
    font-weight: 300;
}

/* .footer__line{
    background-color:white;
} */

.footer__list{
    list-style-type: none;
}
.footer__item{
    margin-bottom: 1rem;
}




.footer__copyright{
    font-size: 0.8rem;
    border-top: 1px solid grey;
    margin-top: 1.5rem;
    padding-top:1.5rem;
}
.footer__link{
    color:rgba(255,255,255,0.9);
    font-size: 13px;
    padding-bottom: 1.5rem;
    transition:all 0.3s ease;
    text-decoration:none;
    font-weight: 300;
}

.footer__link:hover{
    padding-left: 5px;
    text-decoration: none;
    color:white;
}

@media(max-width:991px){
    .navbar-nav{
        background-color: var(--dark-to-main-color);
        margin-top: 0.3rem;
    }

    .navbar{
        padding-bottom: 2rem;
    }
    .navbar .nav-link{
        margin: 0.5rem 0rem;
    }

    .hero__circle{
        width:320px;
        height:320px;
    }

    .hero__circle::before{
        content:"";
        position:absolute;
        width:60px;
        height:60px;
        background-color: rgba(255,255,255,0.4);
        border-radius: 50%;
        left:30px;
        top:30px;
        transform-origin: 135px  140px;
        animation:spin_01 10s linear infinite;
    }

    .hero__image{
        margin-right: 1rem;
       

    }

    .hero{
        padding-top: 130px;
    }
   
   .card__button{
       margin-left: 1.5rem;
   }

   .fun__row2{
       justify-content: center;
   }
  

}

@media(max-width:767px){
    .hero{
       height:160vh;
    }

    .hero__image{
        margin-top: 130px;
    }

    .hero__text{
        padding-right: 0rem;
    }

    .contact__form .form-control{
        width: 100% !important;
    }

    .name__input{
        width:100%;
    }

    .fun__image{
     
      margin:0 auto;
    }

    .fun__info{
        text-align: center;
       padding:5rem 0rem;
    }

    .fun__text{
        padding:0rem 5rem;
        margin-bottom: 2rem;
    }

    .download{
        height:120vh;
    }

    .download__item{
        margin-bottom: 2rem;
    }

    .download__heading{
        margin-bottom: 1rem;
    }

    .pricing .card{
        margin: 2rem auto;
        
      
    }

    .fun__row2{
        justify-content: center;
    }

    
.pricing__row{
    display: flex;
    justify-content: center;
    align-items: center;
}



.contact__box{
    margin-left: 10rem;
    margin-bottom: 3rem;
}


.works__item.line-right::before{
    content:none;
}



.works__item.line-right{
    box-shadow: var(--shadow-black-100);
    margin:1.5rem 1rem;
    padding:1rem 0.8rem;
}

.download{
    padding:3rem 0rem;
}

.download__item{
    margin-bottom: 3rem;
}

.feature-item{
    height:15rem;
}

.navbar-nav{
    margin-top: 0.8rem;
    padding:1rem 0rem;
}





}

@media(max-width:500px){
  
.fun__box1,.fun__box2,.fun__box3,.fun__box4{
    margin:2rem;
}
.download{
    padding:0rem 0rem 2rem 0rem;
    height:130vh;
}

.contact__box{
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.footer__row{
    text-align: center;
}

.footer__column{
    margin-bottom: 2rem;
}


.name__input{
    width:100%;
}

.navbar-nav{
    margin-top: 0.8rem;
    padding:1rem 0rem;
   
}

.fun__row2{
    justify-content: center;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    display: none;
}


}

.toggle-theme{
    position:fixed;
    right:5%;
    top:50%;
    height:40px;
    width:40px;
    background-color: var(--dark-to-main-color);
    z-index: 1200;
    color:#ffffff;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    
}

.toggle__icon{
    padding-top: 0.8rem;
}